.content {
    margin: 3rem;
    max-width: 30rem;
}
h1 {
    color: blueviolet
}

.div-1 {
    background-color: chocolate;
    padding: 1rem;
}

.div-2 {
    width: 15rem;
    background-color: dimgrey;
    border: solid brown;
}

.div-3 {
    background-color: darkcyan;
    display: inline-block;
    margin-right: 2rem;
}